@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
  font-weight: 700;
}

h1,
.h1 {
  @apply text-[2.4rem] font-bold leading-[1.25] lg:text-5xl lg:leading-[1.25];
}

h2 {
  @apply text-[1.92rem] font-bold leading-[1.25] lg:text-[2.4rem];
}

p {
  @apply text-gray-400;
}

.btn {
  @apply inline-block h-[52px] border-[1px] px-[2rem] py-[0.5rem] text-sm font-medium leading-9 transition-all;
}

.btn-white {
  @apply min-w-[150px] rounded-[50px] border-white bg-white text-center capitalize text-black shadow-2xl;
}

.btn-sm {
  @apply h-[42px] leading-[24px];
}

.navlink {
  @apply inline-block px-[0.75rem] py-[0.5rem] text-[15px] hover:text-orange-500;
}

.navlink.active {
  @apply relative after:absolute after:bottom-0 after:left-[0.5rem] after:right-[0.5rem] after:h-[0.125rem] after:bg-gradient-to-r after:from-yellow-400 after:to-pink-400;
}

.section {
  @apply py-16;
}

.wrapper {
  @apply lg:-mx-4 lg:flex lg:flex-row;
}

.wrapper > * {
  @apply px-4;
}
