@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-poppins);
  @apply text-gray-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
  font-weight: 700;
  @apply text-gray-900;
}

h1,
.h1 {
  @apply text-[2.4rem] font-bold leading-[1.25] lg:text-5xl lg:leading-[1.25];
}

h2 {
  @apply text-[1.92rem] font-bold leading-[1.25] lg:text-[2.4rem];
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.25;
}

p {
  @apply text-gray-400;
}

footer h6 {
  font-family: var(--font-poppins);
  font-weight: 600;

  @apply mb-4 lg:mb-8;
}

footer p {
  @apply text-sm leading-5;
}

footer li > a {
  @apply text-sm leading-5;
}

footer li > a:hover {
  @apply text-orange-500 underline;
}

.btn {
  @apply inline-block h-[52px] rounded-[50px] border-[1px] px-[2rem] py-[0.5rem] text-sm font-medium leading-9 transition-all;
}

.btn-white {
  @apply min-w-[150px] border bg-white text-center capitalize text-black shadow-2xl hover:shadow-lg lg:border-white;
}

.btn-primary {
  background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
  @apply text-white;
}

.btn-sm {
  @apply h-[42px] leading-[24px];
}

.navlink {
  @apply block px-[0.75rem] py-[0.5rem] text-[15px] text-gray-900 hover:text-orange-500 lg:inline-block;
}

.navlink.active {
  @apply relative after:absolute after:bottom-0 after:left-[0.5rem] after:right-[0.5rem] after:h-[0.125rem] after:bg-gradient-to-r after:from-yellow-400 after:to-pink-400;
}

.section {
  @apply py-16;
}

.wrapper {
  @apply -mx-4 lg:flex lg:flex-row;
}

.wrapper > * {
  @apply px-4;
}

.footer-box {
  @apply mt-12 w-full px-4 md:w-1/2 lg:w-1/4 lg:px-6;
}

.social-icons {
  @apply -ml-2 mt-4 flex lg:mt-6;
}

.social-icons li {
  @apply m-2 inline-block leading-[1];
}

.social-icons li > a {
  @apply inline-flex h-11 w-11 items-center justify-center rounded-full bg-white text-center transition duration-200;
}

.social-icons li > a:hover {
  @apply bg-orange-500;
}

.social-icons li > a:hover svg {
  @apply fill-white;
}

.slider .swiper-pagination-bullet {
  @apply h-[14px] w-[14px] rounded-full bg-gray-400;
}

.slider .swiper-pagination-bullet-active {
  @apply bg-orange-500;
}
